.search-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.detail-section {
  border-left: 2px solid #ccc;
  padding-left: 20px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkTheme {
  background-color: black;
  color: aliceblue;
}

.lightTheme {
  background-color: aliceblue;
  color: black;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
}

.darkBtn {
  background-color: black;
  color: aliceblue;
}
.lightBtn {
  background-color: aliceblue;
  color: black;
}
